<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resume Maker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="../static/css/style.css" rel="stylesheet">

</head>
<style>
    #main-footer {
        color: black;
        font-family: "Segoe UI";

        text-align: right;
        margin-top: 560px;
        padding: 5px;
        bottom: 8px;
    }
</style>

<body class="homepage" id="homepage_se">
    <header class="bg_image">
        <div class="text-left">
            <div class="container">
                <div class="logo">
                    <h2>RESUME MAKER</h2>
                    <p>Attractive resumes Download and Use Now!</p>
                </div>
                <div class="nav_button_right">
                    <a href="/resume_template" class="btn btn-info">Create Awesome Resumes Now..!</a>
                </div>
            </div>
        </div>
    </header>


    <section id="banner">
        <div class="container">
            <div class="row container">
                <div class="col-md-12">
                    <h1> IMPRESSIVE RESUMES </h1>
                    <h4>EASY ONLINE BUILDER</h4>
                    <a href="/resume_template" class="btn btn-danger bn">View All Templates</a>
                </div>
            </div>
        </div>
    </section>
    <script src="../static/js/jquery-2.1.3.js"></script>
    <footer id="main-footer">

        Developed by- <a href="www.linkedin.com/in/archibrata">Archibrata Chaudhuri</a>, <a
            href="www.linkedin.com/in/promana">Promana Datta</a>, <a
            href="www.linkedin.com/in/somesh-tiwary-51a6891a6/">Somesh Tiwary</a> | Copyright 2021
    </footer>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6033c67a918aa261274168ca/1ev53ujtt';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

</html>
